/* Style for Badminton Lineup Creator */

body {
    font-family: Arial, sans-serif;
    background-color: #8ed7ff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    color: black;
    font-size: 26px;
    margin-bottom: 20px;
}

button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: black 2px solid;
    border-radius: 35px;
    font-size: 16px;
    width: 150px;
}

button:hover {
    background-color: rgb(222, 222, 3);
    transform: scale(1.05);
}

.screen {
    display: none; /* Hide all screens by default */
}

.screen.active {
    display: block; /* Only show the active screen */
}